<div class="container mx-auto">
  <div class="md:mx-4">
    <div class="flex justify-center items-center w-20 mx-auto my-4">
      <img
        src="https://img.hotstar.com/image/upload/v1737554969/web-assets/prod/images/rebrand/logo.png"
        alt="jiohotstar"
        class=""
      />
      <p class="text-2xl">JioHotstar</p>
    </div>
    <p class="mt-4 text-2xl font-semibold">Action Movies</p>
    <div
      class="flex justify-start items-center gap-2 overflow-x-scroll overflow-y-hidden mb-10"
    >
      <app-movie
        name="The Amazing Spiderman"
        videoUrl="https://www.hotstar.com/in/movies/the-amazing-spider-man/1971001478/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/6576/1734671316576-v"
      ></app-movie
      ><app-movie
        name="Venom"
        videoUrl="https://www.hotstar.com/in/movies/venom/1971001874/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/237/1734086580237-v"
      ></app-movie
      ><app-movie
        name="Spiderman Homecomming"
        videoUrl="https://www.hotstar.com/in/movies/spider-man-homecoming/1971011176/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/1247/1734952231247-v"
      ></app-movie
      ><app-movie
        name="Aavesham"
        videoUrl="https://www.hotstar.com/in/movies/aavesham/1271320425/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/406/1722102160406-v"
      ></app-movie
      ><app-movie
        name="karate Kid"
        videoUrl="https://www.hotstar.com/in/movies/the-karate-kid/1971011200/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/3127/1734950353127-v"
      ></app-movie
      ><app-movie
        name="Spider man"
        videoUrl="https://www.hotstar.com/in/movies/spider-man/1971001901/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/4354/1734949344354-v"
      ></app-movie
      ><app-movie
        name="The Amazing Spiderman 2"
        videoUrl="https://www.hotstar.com/in/movies/the-amazing-spider-man-2/1971011139/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/8764/1734950098764-v"
      ></app-movie
      ><app-movie
        name="Fateh"
        videoUrl="https://www.hotstar.com/in/movies/fateh/1271395593/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/7924/1741269577924-v"
      ></app-movie
      ><app-movie
        name="Salar"
        videoUrl="https://www.hotstar.com/in/movies/salaar-part-1-ceasefire/1260170331/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/5893/1707996915893-v"
      ></app-movie>
    </div>
    <p class="mt-4 text-2xl font-semibold">Comedy Movies</p>
    <div
      class="flex justify-start items-center gap-2 overflow-x-scroll overflow-y-hidden mb-10"
    >
      <app-movie
        name="Aavesham"
        videoUrl="https://www.hotstar.com/in/movies/aavesham/1271320425/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/406/1722102160406-v"
      ></app-movie
      ><app-movie
        name="Munjya"
        videoUrl="https://www.hotstar.com/in/movies/munjya/1271326340/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/4606/1724530174606-v"
      ></app-movie
      ><app-movie
        name="Premalu"
        videoUrl="https://www.hotstar.com/in/movies/premalu/1271295279/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/922/1712839760922-v"
      ></app-movie
      ><app-movie
        name="Zara Hatke Zara Bachke"
        videoUrl="https://www.hotstar.com/in/movies/zara-hatke-zara-bachke/1971011112/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/4587/1739443764587-v"
      ></app-movie
      ><app-movie
        name="OMG"
        videoUrl="https://www.hotstar.com/in/movies/omg-2/1971011119/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/4540/1734883024540-v"
      ></app-movie>
      <app-movie
        name="Housefull 4"
        videoUrl="https://www.hotstar.com/in/movies/housefull-4/1260014263/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/9166/1710929909166-v"
      ></app-movie
      ><app-movie
        name="Bhediya"
        videoUrl="https://www.hotstar.com/in/movies/bhediya/1971011082/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/3184/1739444813184-v"
      ></app-movie
      ><app-movie
        name="Total Dhamal"
        videoUrl="https://www.hotstar.com/in/movies/total-dhamaal/1000233697/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/3649/1711465823649-v"
      ></app-movie
      ><app-movie
        name="Badhaai Ho"
        videoUrl="https://www.hotstar.com/in/movies/badhaai-ho/1000120365/watch"
        image="https://img10.hotstar.com/image/upload/f_auto,q_90,w_256/sources/r1/cms/prod/7309/177309-v"
      ></app-movie>
    </div>
  </div>
</div>
