<div class="hover:scale-110 w-40 h-fit cursor-pointer rounded-lg mx-1">
  <a [href]="videoUrl">
    <img
      [src]="image"
      alt=""
      class="w-40 h-72 object-fill rounded-lg transition"
    />
    <div class="relative bottom-6">
      <p class="text-lg font-semibold truncate my-1">{{ name }}</p>
      <p class="text-sm truncate my-1 font-semibold">
        Action | Science Fiction
      </p>
      <p class="text-sm flex flex-wrap gap-2 my-1 justify-start items-center">
        <span>2018</span>*<span class="bg-gray-700 px-1 rounded-sm"
          >U/A 16+</span
        >
      </p>
      <p class="text-sm flex flex-wrap gap-2 my-1 justify-start items-center">
        <span>Hindi</span>*<span>1h 47m</span>
      </p>
      <button class="bg-white rounded-md text-black font-semibold w-full p-3">
        <a [href]="videoUrl"> Watch Now</a>
      </button>
    </div></a
  >
</div>
